*.py[co]
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
plots/
log.txt
.ipynb_checkpoints/
.cache
.tox
.vagrant
wintest.sh
Vagrantfile
*.class
*.eggs/
.coverage
htmlcov
*.dist-info/
.vscode
.idea
.pytest_cache/
docs/examples/**/*.py  # For .ipynb examples converted to .py
.ci/*.sh
docs/.doctrees
