[MASTER]
extension-pkg-whitelist = numpy


[MESSAGES CONTROL]

#disable = all
disable = arguments-differ, broad-except, deprecated-method, missing-docstring, no-member, no-self-use, pointless-statement, protected-access, redefined-builtin, redefined-outer-name, redefined-variable-type, redundant-keyword-arg, too-few-public-methods, too-many-ancestors, too-many-arguments, too-many-instance-attributes, too-many-branches, too-many-locals, unidiomatic-typecheck, unused-argument
enable = W0231


[REPORTS]

reports = yes


[BASIC]
good-names = E

argument-rgx = ([a-z_][a-z0-9_]{0,30})|([A-Z][a-zA-Z0-9]*(_[a-z0-9_]+)?)$
attr-rgx = ([a-z_][a-z0-9_]{0,30})|([A-Z][a-zA-Z0-9]*(_[a-z0-9_]+)?)$
class-attribute-rgx = ([A-Za-z_][A-Za-z0-9_]{0,30}|(__.*__))$
class-rgx = [A-Z_][a-zA-Z0-9]*$
const-rgx = (([a-zA-Z_][a-zA-Z0-9_]*)|(__.*__))$
function-rgx = ([a-zA-Z_][a-zA-Z0-9_]{0,30})|(test_[a-z0-9_]+)$
method-rgx = ([a-z_][a-z0-9_]{0,30})|(test_[a-z0-9_]+)$
variable-rgx = ([A-Z]{1,2})|([a-z_][a-z0-9_]{0,30})|([a-z][A-Z])$


[VARIABLES]
redefining-builtins-modules = nengo.utils.compat
dummy-variables-rgx = (_+[a-zA-Z0-9]*?$)|dummy|request


[TYPECHECK]
ignored-classes = nengo.params.DefaultType, tuple
ignored-modules = matplotlib.cm, matplotlib.pyplot, numpy, numpy.random, numpy.linalg, scipy.special
#ignored-modules = numpy.random, scipy.special


[FORMAT]
max-line-length = 79
ignore-long-lines = ^\s*(# (noqa )?)?<?https?://\S+>?(\s+ # noqa)?$
