[MASTER]

ignore = _vendor, compat.py


[MESSAGES CONTROL]

disable = all,
          broad-except,
          import-error,
          reimported,
enable = anomalous-backslash-in-string,
         bad-super-call,
         bare-except,
         cyclic-import,
         dangerous-default-value,
         function-redefined,
         line-too-long,
         super-init-not-called,
         ungrouped-imports,
         unused-import,
         wrong-import-order,


[FORMAT]

max-line-length = 79


[REPORTS]

reports = no
score = no
