div#menubar {
    background-color: #777;
    padding-left: 10px;
    overflow: hidden;
}


#menubar img {
    margin:10;
    top: 2px;
    padding: 2px;
}


#menubar img:hover {
    background-color: #888;
}

#filebrowser {
    position: absolute;
    top:20px;
    left: 20px;
    width: 200px;
    height: 300px;
    border-top: solid 2px #BBB;
    border-left: solid 2px #BBB;
    border-bottom: solid 2px #BBB;
    border-right: solid 2px #BBB;
    background-color: #999;
    z-index: 1000;
    overflow: auto;
}

div#menubar input.filename {
    position: absolute;
    left: 150px;
    border: 0px;
    background-color: #777;
    font-size: 20px;
    color: white;
    padding: 5px;
}

div#menubar input.filename:hover {
    background-color: #888;
}
div#menubar input.filename:focus {
    background-color: #888;
    border: 0px;
}

div#menubar .disable {
    opacity: 0.3
}

span#zoom_mode {
    position: absolute;
    top: 5px;
    left: 400px;
    background-color: #777;
    font-size: 20px;
    color: white;
    padding: 5px;
    font-family: sans-serif;
}

span#zoom_mode::before {
    content: "mode:";
}

span#zoom_mode:hover {
    background-color: #888;
}

img#menu_javaviz {
    position: absolute;
    top: 10px;
    left: calc(100% - 50px);
}

img#menu_feedfwd {
    position: absolute;
    top: 10px;
    left: 50%;
}