div#graph { 
    position: absolute;
    top:48px;
    right: 50%;
    bottom: 0;
    left: 0;
    background-color: white;
}

#mainCircle {
    fill: white;
    opacity: 0
}

svg .link_std {
    stroke: #333;
    stroke-opacity: .6;
    marker-mid: url(#TriangleMarker);
}

svg .link_net {
    stroke-width: 0px;
}

svg .link_rec {
    stroke: #333;
    stroke-opacity: .6;
    stroke-width: 2px;
    fill: none;
}

#recurTriangle {
    stroke: #333;
    stroke-opacity: .6;
    stroke-width: 0;
    fill: black
}

svg g.node_ens {
    fill: #ddd;
}

svg g.node_nde circle{
    stroke: #444;
    stroke-width: 0px;
    fill: #ddd;
}
svg g.node_net rect{
    stroke: #444;
    stroke-width: 0px;
    fill: #888;
    opacity: 0.5;
}

rect#resizeBR {
    fill:'black';
    opacity: 0;
}

svg g.node text {
    fill: black;
    font-family: sans-serif;
    text-anchor: middle;
    alignment-baseline: middle;
}
