div#menubar {
    background-color: #777;
    padding-left: 10px;
    overflow: hidden;
}


#menubar img {
    bacground-color: red;
    margin:0;
    padding: 5px;
    margin-top:3px;
}


#menubar img:hover {
    background-color: #888;
}

#filebrowser {
    position: absolute;
    top:32px;
    left: 40px;
    width: 400px;
    height: 200px;
    background-color: #999;
    z-index: 1000;
    overflow: auto;
}

div#menubar input.filename {
    position: absolute;
    top: 5px;
    left: 100px;
    border: 0px;
    background-color: #777;
    font-size: 20px;
    color: white;
    padding: 5px;
}

div#menubar input.filename:hover {
    background-color: #888;
}
div#menubar input.filename:focus {
    background-color: #888;
    border: 0px;
}

div#menubar .disable {
    opacity: 0.3
}

span#zoom_mode {
    position: absolute;
    top: 5px;
    left: 400px;
    background-color: #777;
    font-size: 20px;
    color: white;
    padding: 5px;
    font-family: sans-serif;
}

span#zoom_mode::before {
    content: "mode:";
}


span#zoom_mode:hover {
    background-color: #888;
}