<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nengo Network Constructor</title>
    <meta charset="utf-8">
    
    <script src="static/js/d3.min.js", type="text/javascript"></script>
    <script src="static/js/jquery-1.11.0.min.js", type="text/javascript"></script>
    <script src="static/js/jqueryFileTree/jqueryFileTree.js", type="text/javascript"></script>    
    <script src="static/js/ace/ace.js", type="text/javascript"></script>
    <script src="static/js/main.js", type="text/javascript"></script>
    <script src="static/js/menu.js", type="text/javascript"></script>
    <script src="static/js/semantic.js", type="text/javascript"></script>
    
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/menu.css">
    <link rel="stylesheet" type="text/css"
     href="static/js/jqueryFileTree/jqueryFileTree.css">
    <link rel="stylesheet" type="text/css" href="static/css/graph.css">
    <link rel="stylesheet" type="text/css" href="static/css/editor.css">
</head>

<body onload="open_file($('#filename').val());">
<script>
// set up server polling to see if file changed
gui_server_check_interval = %(refresh_interval)d;
</script>

<div id="editor">
</div>

<!--Setup the main graphical window-->
<div id="graph">
    <svg>
        <defs>
            // the arrow on the links
            <marker id="TriangleMarker"
              viewBox="0 0 10 10" refX="0" refY="5"
              markerUnits="strokeWidth"
              markerWidth="6" markerHeight="4"
              orient="auto">
              <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
            <g id ="ensemble" transform="translate(-17.2735,-17.7015)"> 
                <circle id="mainCircle" cx="16" cy="18" r="18"/>
                <circle cx="4.843" cy="10.519" r="4.843"/>
                <circle cx="16.186" cy="17.873" r="4.843"/>
                <circle cx="21.012" cy="30.56" r="4.843"/>
                <circle cx="29.704" cy="17.229" r="4.843"/>
                <circle cx="5.647" cy="26.413" r="4.843"/>
                <circle cx="19.894" cy="4.842" r="4.843"/>
            </g>
            <g id = "recur" transform="translate(-20,-34)"> 
            <path 
                d="M6.451,28.748C2.448,26.041,0,22.413,0,18.425C0,
                    10.051,10.801,3.262,24.125,3.262
                S48.25,10.051,48.25,18.425c0,6.453-6.412,11.964-15.45,14.153"/>
            <path fill="black" stroke-width="1" stroke="black" stroke-opacity="1" 
                d="M30.632,6.523l-6.524-3.262L30.632,0V6.523z"/>
            </g>
        </defs>
    </svg>
</div>

<!--Setup the menu bar-->
<div id="menubar">
    <img id="menu_open" src="/static/img/open.png" title="open model"/>
    <img id="menu_save" src="/static/img/savefile.png" title="save model"/>
    <input id="filename" class="filename" type="text" value="%(filename)s" width="40" />
    <span id="zoom_mode"></span>
</div>

<!--Setup the file browser-->
<div id="filebrowser"></div>

</body>
</html>
