<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nengo Editor</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>

<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
var aceRange = ace.require('ace/range').Range;
</script>
<script src="/static/js/d3.min.js", type="text/javascript" charset="utf-8"></script>

<div id="editor">import nengo

model = nengo.Network()
with model:
    a = nengo.Ensemble(neurons=100, dimensions=2, label='a')
    b = nengo.Ensemble(neurons=80, dimensions=2, label='b')
    c = nengo.Ensemble(neurons=80, dimensions=2)
    d = nengo.Ensemble(neurons=80, dimensions=2)
    e = nengo.networks.EnsembleArray(80,2)
    
    vis = nengo.Network()
    with vis:
#        v1 = nengo.Network()
#        with v1:
#            n = nengo.Ensemble(neurons=80, dimensions=2)
         r = nengo.Ensemble(neurons=80, dimensions=2)
         t = nengo.Ensemble(neurons=80, dimensions=2)
         nengo.Connection(r, t)


    nengo.Connection(a, b, synapse=0.01)
    nengo.Connection(b, c, synapse=0.01)
    nengo.Connection(c, d, synapse=0.01)
    nengo.Connection(b, d, synapse=0.01)
    nengo.Connection(d, e.input, synapse=0.01)
</div>
    
<div id="graph">
    <svg>
        <defs>
            // the arrow on the links
            <marker id="TriangleMarker"
              viewBox="0 0 10 10" refX="0" refY="5" 
              markerUnits="strokeWidth"
              markerWidth="6" markerHeight="4"
              orient="auto">
              <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>    
        </defs>    
    </svg>
</div>    

<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");

editor.on('change', function(event) {reload_graph_data();});
</script>


<script>

var zoom = d3.behavior.zoom()
    .scaleExtent([0.1, 10])
    .on('zoom', zoomed);
        
var svg = d3.select("svg");
var container = svg.append('g');

zoom(svg);  // set up zooming on the graph

// helper function to move objects to be drawn on top    
d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
    this.parentNode.appendChild(this);
  });
};    

var drag = d3.behavior.drag()
    .origin(function(d){return d})
    .on('dragstart', dragstarted)
    .on('drag', dragged)
    .on('dragend', dragended);

function zoomed() {
    container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function dragstarted(d) {
      d3.event.sourceEvent.stopPropagation();
      d3.select(this).classed("dragging", true);
}

function dragged(d) {
    d.x = d3.event.x;
    d.y = d3.event.y;

    d3.select(this).attr('transform', "translate("+d.x+","+d.y+")");
    update_net_position(d, d3.event.dx, d3.event.dy);
    update_line_locations();
    update_node_positions(d, d3.event.dx, d3.event.dy);
    update_net_sizes();
}

function dragended(d) {
      d3.select(this).classed("dragging", false);
}
    
// editor -> server -> graph loop
function reload_graph_data() {
    var data = new FormData();
    data.append('code', editor.getValue());

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/graph.json', true);
    xhr.onload = update_graph;
    xhr.send(data);    
}    

var graph;
var link;
var node;

    
        
// line highlighting when over objects in graph
    var marker = null;
    function mouseover(d) {
        if (marker!=null) {
            editor.getSession().removeMarker(marker);
            marker = null;
            }
        marker = editor.getSession().addMarker(new aceRange(d.line, 0, d.line, 10), 'highlight', 'fullLine', true);
        editor.getSession().setAnnotations([{row: d.line, type:'info'}]);
        }
    function mouseout(d) {
        if (marker!=null) {
            editor.getSession().removeMarker(marker);
            marker = null;
            }
        editor.getSession().clearAnnotations();
        }
        
    reload_graph_data();
    
        
    function update_graph() {
        graph = JSON.parse(this.responseText);

        // was there a parsing error?
        if (graph.error_line != undefined) {
            if (marker!=null) {
                editor.getSession().removeMarker(marker);
                marker = null;
                }
            marker = editor.getSession().addMarker(new aceRange(graph.error_line-1, 0, graph.error_line-1, 10), 'highlight', 'fullLine', true);
            editor.getSession().setAnnotations([{row: graph.error_line-1, type:'error'}]);
            return;
        } else {
            if (marker!=null) {
                editor.getSession().removeMarker(marker);
                marker = null;
                }
            editor.getSession().clearAnnotations();
        }

        //delete all the links and redraw them
        container.selectAll('.link').remove();

        link = container.selectAll('.link')
            .data(graph.links);
            
        link.enter().append('polyline')
            .attr('class', function(d) {return 'link link_'+d.type;});

        //get all the nodes, make the new ones delete the old
        node = container.selectAll('g.node')
            .data(graph.nodes, function(d) {return d.id})
        container.selectAll('g.node text')
            .data(graph.nodes, function(d) {return d.id})            
            
        var nodeEnter = node
            .enter()
            .append('g')
            .attr('class', function(d) {return 'node node_'+d.type;})
            .on('mouseover', mouseover)
            .on('mouseout', mouseout)
            .call(drag);
        
        nodeEnter.filter(function(d) {return d.type=='ens';})
            .append('circle')
            .attr('r', '20')

        nodeEnter.filter(function(d) {return d.type=='nde';})
            .append('rect')
            .attr('x', '-20')
            .attr('y', '-20')
            .attr('width', '40')
            .attr('height', '40')

        nodeEnter.filter(function(d) {return d.type=='net';})
            .append('rect')
            .attr('x', '-50')
            .attr('y', '-50')
            .attr('width', '100')
            .attr('height', '100')
            
        nodeEnter.append('text')
            .text(function(d) {return d.label;});
            
        node.exit().remove();
        
        //label everything    
        container.selectAll('g.node')
            .selectAll('text')
            .text(function(d) {return d.label;});
        //redraw so nodes are on top
        container.selectAll('g.node').filter(function(d) {return d.type!='net';})
            .moveToFront();

        update_net_sizes();

        update_line_locations();        
    }

function update_line_locations() {
    link.filter(function(d) {return d.type=='std';})
        .attr('points', function(d) {
            x0 = graph.nodes[d.source].x;
            y0 = graph.nodes[d.source].y;
            x1 = graph.nodes[d.target].x;
            y1 = graph.nodes[d.target].y;
            return ""+x0+","+y0+" "+(x0*0.45+x1*0.55)+","+(y0*0.45+y1*0.55)+" "+
                      x1+","+y1;
        });
}

function update_net_sizes() {
    node.filter(function(d) {return d.type=='net';})
        .each(update_net_size)
        .selectAll('rect')
            .attr('x', function(d) {return -net_widths[d.id]/2;})
            .attr('y', function(d) {return -net_heights[d.id]/2;})
            .attr('width', function(d) {return net_widths[d.id];})
            .attr('height', function(d) {return net_heights[d.id];})
            ;
    node.attr('transform', function(d) {
        return 'translate('+[d.x, d.y]+')';
        });
}

var net_widths = {};
var net_heights = {};
function update_net_size(d) {
    x0 = graph.nodes[d.contains[0]].x;
    x1 = x0;
    y0 = graph.nodes[d.contains[0]].y;
    y1 = y0;
    for (obj in d.contains) {
        x0 = Math.min(graph.nodes[d.contains[obj]].x, x0);
        x1 = Math.max(graph.nodes[d.contains[obj]].x, x1);
        y0 = Math.min(graph.nodes[d.contains[obj]].y, y0);
        y1 = Math.max(graph.nodes[d.contains[obj]].y, y1);
    }
    border = 25;
    d.x = (x0+x1)/2;
    d.y = (y0+y1)/2;
    net_widths[d.id] = x1 - x0+2*border;
    net_heights[d.id] = y1 - y0+2*border;
    
    function isin(x, y) {
        return (x<d.x+net_widths[d.id]/2) && 
               (x>d.x-net_widths[d.id]/2) && 
               (y<d.y+net_heights[d.id]/2) && 
               (y>d.y-net_heights[d.id]/2);
    }

    
    for (var i=0; i<graph.nodes.length; i++) {
        n = graph.nodes[i];
        if (!(n===d) && d.contains.indexOf(i)==-1) {
            if (isin(d.x, d.y)) {
                dx = n.x-d.x;
                dy = n.y-d.y;
                if (Math.abs(dx)-net_widths[d.id]/2>Math.abs(dy)-net_heights[d.id]/2) {
                    if (dx>0) { n.x = Math.max(n.x, d.x+net_widths[d.id]/2+border); }
                    else      { n.x = Math.min(n.x, d.x-net_widths[d.id]/2-border); }
                } else {
                    if (dy>0) { n.y = Math.max(n.y, d.y+net_heights[d.id]/2+border); }
                    else      { n.y = Math.min(n.y, d.y-net_heights[d.id]/2-border); }
                }
            }
        }
    }
    
}
    
function update_net_position(d, dx, dy) {
    if (d.type == 'net') {
        for (obj in d.contains) {
            graph.nodes[d.contains[obj]].x += dx
            graph.nodes[d.contains[obj]].y += dy
        }
    }
    //not needed?
    node.attr('transform', function(d) {
            return 'translate('+[d.x, d.y]+')';
        });
}      
       
function update_node_positions(d, dx, dy) {
    margin = 25;
    for (var i=0; i<graph.nodes.length; i++) {
        n = graph.nodes[i];
        if (n===d) {return};
        if (n.type == 'net') {
            //do stuff
        }
        else if (Math.abs(d.x-n.x)<margin && Math.abs(d.y-n.y)<margin) {
                n.x += dx
                n.y += dy
        }
    }          
    //not needed?
    node.attr('transform', function(d) {
            return 'translate('+[d.x, d.y]+')';
        });
}  
        
function resize() {
    width = window.innerWidth/2;
    height = window.innerHeight;
    svg.attr("width", width).attr("height", height);
}    
    
d3.select(window).on("resize", resize);
    
        


        
</script>
</body>
</html>
