<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nengo Editor</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="stylesheet" type="text/css" href="/static/menu.css">
    <link rel="stylesheet" type="text/css" href="/static/js/jqueryFileTree/jqueryFileTree.css">
</head>
<body onload="open_file('scripts/default.py');">

<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
var aceRange = ace.require('ace/range').Range;
</script>
<script src="/static/js/d3.min.js", type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery-1.11.0.min.js", type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jqueryFileTree/jqueryFileTree.js", type="text/javascript" charset="utf-8"></script>

<div id="editor">
</div>

<div id="graph">
    <svg>
        <defs>
            // the arrow on the links
            <marker id="TriangleMarker"
              viewBox="0 0 10 10" refX="0" refY="5"
              markerUnits="strokeWidth"
              markerWidth="6" markerHeight="4"
              orient="auto">
              <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
    </svg>
</div>

<div id="menubar">
    <img id="menu_open" src="/static/img/open.png" title="open model"/>
    <img id="menu_save" src="/static/img/savefile.png" title="save model"/>
</div>

<div id="filebrowser"></div>
<script>
$('#filebrowser').hide()
$('#menu_open').click(function() {$('#filebrowser').toggle(200);})
$('#filebrowser').fileTree({ root: '.', script: '/browse' }, open_file);

function open_file(file) {
    $('#filebrowser').hide();

    container.selectAll('.link').remove();
    container.selectAll('.node').remove();
    editor.setValue('');

    var data = new FormData();
    data.append('filename', file);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/openfile', true);
    xhr.onload = function(event) {editor.setValue(this.responseText);};
    xhr.send(data);
}

</script>

<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");

editor.on('change', function(event) {reload_graph_data();});
</script>


<script>

var zoom = d3.behavior.zoom()
    .scaleExtent([0.1, 10])
    .on('zoom', zoomed);

var svg = d3.select("svg");
var container = svg.append('g');

zoom(svg);  // set up zooming on the graph

// helper function to move objects to be drawn on top
d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
    this.parentNode.appendChild(this);
  });
};

var drag = d3.behavior.drag()
    .origin(function(d){return d})
    .on('dragstart', dragstarted)
    .on('drag', dragged)
    .on('dragend', dragended);

function zoomed() {
    container.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function dragstarted(d) {
      d3.event.sourceEvent.stopPropagation();
      d3.select(this).classed("dragging", true);
}

function dragged(d) {
    d.x = d3.event.x;
    d.y = d3.event.y;

    d3.select(this).attr('transform', "translate("+d.x+","+d.y+")");
    var node_list = []; //make a list of the indices of all nodes
    for (i in graph.nodes){node_list.push(i)}
    update_node_positions(d, d3.event.dx, d3.event.dy, node_list);
    update_net_position(d, d3.event.dx, d3.event.dy);
    update_net_sizes();
    update_line_locations();
}

function dragended(d) {
      d3.select(this).classed("dragging", false);
}

// editor -> server -> graph loop
function reload_graph_data() {
    var data = new FormData();
    data.append('code', editor.getValue());

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/graph.json', true);
    xhr.onload = update_graph;
    xhr.send(data);
}

var graph;
var link;
var node;



// line highlighting when over objects in graph
var marker = null;
function mouseover(d) {
	if (marker!=null) {
		editor.getSession().removeMarker(marker);
		marker = null;
		}
	marker = editor.getSession().addMarker(new aceRange(d.line, 0, d.line, 10), 'highlight', 'fullLine', true);
	editor.getSession().setAnnotations([{row: d.line, type:'info'}]);
	}
function mouseout(d) {
	if (marker!=null) {
		editor.getSession().removeMarker(marker);
		marker = null;
		}
	editor.getSession().clearAnnotations();
	}

reload_graph_data();


function update_graph() {
	graph = JSON.parse(this.responseText);

	// was there a parsing error?
	if (graph.error_line != undefined) {
		if (marker!=null) {
			editor.getSession().removeMarker(marker);
			marker = null;
			}
		marker = editor.getSession().addMarker(new aceRange(graph.error_line-1, 0, graph.error_line-1, 10), 'highlight', 'fullLine', true);
		editor.getSession().setAnnotations([{row: graph.error_line-1, type:'error'}]);
		return;
	} else {
		if (marker!=null) {
			editor.getSession().removeMarker(marker);
			marker = null;
			}
		editor.getSession().clearAnnotations();
	}

	//delete all the links and redraw them
	container.selectAll('.link').remove();

	link = container.selectAll('.link')
		.data(graph.links);

	link.enter().append('polyline')
		.attr('class', function(d) {return 'link link_'+d.type;});

	//get all the nodes, make the new ones delete the old
	node = container.selectAll('g.node')
		.data(graph.nodes, function(d) {return d.id})
	container.selectAll('g.node text')
		.data(graph.nodes, function(d) {return d.id})

	var nodeEnter = node
		.enter()
		.append('g')
		.attr('class', function(d) {return 'node node_'+d.type;})
		.on('mouseover', mouseover)
		.on('mouseout', mouseout)
		.call(drag);

	nodeEnter.filter(function(d) {return d.type=='ens';})
		.append('circle')
		.attr('r', '20')

	nodeEnter.filter(function(d) {return d.type=='nde';})
		.append('rect')
		.attr('x', '-20')
		.attr('y', '-20')
		.attr('width', '40')
		.attr('height', '40')

	nodeEnter.filter(function(d) {return d.type=='net';})
		.append('rect')
		.attr('x', '-50')
		.attr('y', '-50')
		.attr('rx', '15')
		.attr('ry', '15')
		.attr('width', '100')
		.attr('height', '100')

	nodeEnter.append('text')
		.text(function(d) {return d.label;});

	node.exit().remove();

	//label everything
	container.selectAll('g.node')
		.selectAll('text')
		.text(function(d) {return d.label;});
	//redraw so nodes are on top
	container.selectAll('g.node').filter(function(d) {return d.type!='net';})
		.moveToFront();

    update_net_sizes();
	update_line_locations();
}

function update_line_locations() {
    link.filter(function(d) {return d.type=='std';})
        .attr('points', function(d) {
            x0 = graph.nodes[d.source].x;
            y0 = graph.nodes[d.source].y;
            x1 = graph.nodes[d.target].x;
            y1 = graph.nodes[d.target].y;
            return ""+x0+","+y0+" "+(x0*0.45+x1*0.55)+","+(y0*0.45+y1*0.55)+" "+
                      x1+","+y1;
        });
}

function update_net_sizes() {
    node.filter(function(d) {return d.type=='net';})
        .each(update_net_size)
        .selectAll('rect')
            .attr('x', function(d) {return -net_widths[d.id]/2;})
            .attr('y', function(d) {return -net_heights[d.id]/2;})
            .attr('width', function(d) {return net_widths[d.id];})
            .attr('height', function(d) {return net_heights[d.id];})
            ;
    node.attr('transform', function(d) {
        return 'translate('+[d.x, d.y]+')';
        });
}

var net_widths = {};
var net_heights = {};
var node_margin = 35;
var net_inner_margin = 25;
var net_margin = 15;
function update_net_size(d) {
	xstart = d.x
	ystart = d.y
    x0 = graph.nodes[d.contains[0]].x; //first item in net x,y as a start
    x1 = x0;
    y0 = graph.nodes[d.contains[0]].y;
    y1 = y0;
    for (obj in d.contains) {  //min/max of y and x of nodes in net
        x0 = Math.min(graph.nodes[d.contains[obj]].x, x0);
        x1 = Math.max(graph.nodes[d.contains[obj]].x, x1);
        y0 = Math.min(graph.nodes[d.contains[obj]].y, y0);
        y1 = Math.max(graph.nodes[d.contains[obj]].y, y1);
    }
    d.x = (x0+x1)/2;  // x, y mid
    d.y = (y0+y1)/2;
    dx = d.x - xstart;
    dy = d.y - ystart;
    net_widths[d.id] = x1 - x0+2*net_inner_margin; //track heights/widths
    net_heights[d.id] = y1 - y0+2*net_inner_margin;

    var node_list = []; //make a list of the indices of all nodes
    for (i in graph.nodes){node_list.push(i)}
    update_node_positions(d, 2*dx, 2*dy, node_list)
}

function isin(d, x, y) { // is the point x, y inside the net
	return (x<d.x+net_widths[d.id]/2) &&
		   (x>d.x-net_widths[d.id]/2) &&
		   (y<d.y+net_heights[d.id]/2) &&
		   (y>d.y-net_heights[d.id]/2);
}

function update_node_positions(d, dx, dy, node_list) {
	ind = graph.nodes.indexOf(d)
	node_list.splice(node_list.indexOf(ind.toString()),1) //remove d from node_list
    for (var i=0; i<node_list.length; i++) {
        n = graph.nodes[node_list[i]];
        if (close_to(n,d)) {
        	move_node(n, dx, dy)
        	update_node_positions(n, dx, dy, node_list.slice(0))
        }
    }
}

function move_node(node, dx, dy) {
	if (node.type == "net") { //move a network
		update_net_position(node, dx,dy)
	}
	else{ //move ens or nde
		node.x += dx
		node.y += dy
	}
}

function close_to(n, o) { //n is node, o is origin
	if (o.type == "net") { //if origin is net
		if (!(n.type == "net")) { //if node is nde or ens
        	if (!net_contains(o, n)) {
            	if (Math.abs(o.x-n.x) < (net_margin+net_widths[o.id]/2) &&
                    Math.abs(o.y-n.y) < (net_margin+net_heights[o.id]/2)) {
                	//console.log('true 1')
                	return true
                }
            }
        }
        else { //if node is net
            if (Math.abs(o.x-n.x) < (net_widths[n.id]/2+net_widths[o.id]/2)
                && Math.abs(o.y-n.y)<(net_heights[n.id]/2
                                                    +net_heights[o.id]/2)) {
                //console.log('true 2')
            	return true
            }
        }
    }
    if (!(o.type == "net")) { //if origin is nde or ens
		if (!(n.type == "net")) { //if node nde or ens
			if (Math.abs(o.x-n.x) < node_margin
			   && Math.abs(o.y-n.y) < node_margin) {
             	//console.log('true 3')
				return true
			}
		}
        else { //if node is net
        	if(!net_contains(n, o)) {
            	if (Math.abs(o.x-n.x) < (net_margin+net_widths[n.id]/2) &&
                    Math.abs(o.y-n.y) < (net_margin+net_heights[n.id]/2)) {
                	//console.log('true 4')
                	return true
                }
            }
        }
    }
    return false
}

//True if net contains node
function net_contains(net, node) {
    contain_bool = false
    for (var i in net.contains) {
        if (graph.nodes[net.contains[i]].id == node.id) {
            contain_bool = true
        }
    }
    return contain_bool
}

//Move all the nodes in a network if position changes
function update_net_position(d, dx, dy) {
    if (d.type == 'net') {
        for (obj in d.contains) {
            graph.nodes[d.contains[obj]].x += dx
            graph.nodes[d.contains[obj]].y += dy
        }
    }
}

function resize() {
    width = window.innerWidth/2;
    height = window.innerHeight;
    svg.attr("width", width).attr("height", height);
}

d3.select(window).on("resize", resize);

</script>

</body>
</html>
